<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'mains/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'mains/css/bootstrap.css' %}">
    <title>{% block title %}Mak{% endblock title %}</title>
</head>
<body>
    <h2>This is {{hm}} Page</h2>
    <div class="container bg-warning">
        <div class="row">
            <div class="cus">

                <ul class="text-dark">
                    <li>Home</li>
                    <li>About</li>
                    <li>Contact</li>
                </ul>
            </div>
        </div>
    </div>

    {% block content %}{% endblock content %}
    <script src="{% static 'mains/js/bootstrap.js' %}">
</body>
</html>